.anim-in { display: block; animation: openSpace 0.2s ease both, moveIn 0.3s 0.2s ease both; }

@keyframes openSpace {
  from { max-height: 0; }
  to { max-height: 1000px; }
}

@keyframes moveIn {
  from { opacity: 0; transform: scale(0); }
  to { opacity: 1; transform: scale(1); }
}

.anim-out { animation: moveOut 0.2s ease both, closeSpace 0.3s 0.2s ease both; }

@keyframes closeSpace {
  from { max-height: 1000px; }
  to { max-height: 0; }
}

@keyframes moveOut {
  from { opacity: 1; transform: scale(1); }
  to { opacity: 0; transform: scale(0); }
}

.shake { animation: shake-animation 0.05s ease normal none; }

@keyframes shake-animation {
  from { transform: translateY(0px); }
  35% { transform: translateY(10px); }
  35% { transform: translateY(-10px); }
  to { transform: translateY(0px); }
}

/*----  Panels ----*/

.b2-hidden { display: none; }

.b2-main { margin-left: 0; margin-right: 0; height: 100vh; max-height: 100vh; display: block; }

.b2-main > header { height: 10%; }

#entity_div { height: 90%; }

#entity_list { margin-top: 0; margin-bottom: 0; }

#sidebar { height: 100%;width: 100%;display: none;position: fixed !important;z-index: 1;overflow: auto }

#infobar { height: 100%;width: 100%;display: none;position: fixed !important;z-index: 1;overflow: auto;right: 0; }

#infobar > button { display: block; }

@media (min-width: 600px) {
  .b2-main { margin-right: 250px; }

  #infobar { width: 250px; display: block !important; }

  #close_infobar { display: none; }

  #sidebar { width: 250px; }
}

@media (min-width: 992px) {
  .b2-main { margin-left: 250px; margin-right: 25%; }

  .b2-main > header { display: none !important; }

  #entity_div { height: 100%; }

  #infobar { width: 25%; }

  #sidebar { width: 250px; display: block !important; }

  #close_sidebar { display: none; }
}

/*---- Panels ----*/